{
  "env": {
    "production": {
      "presets": [
          "@babel/preset-react",
          ["@babel/preset-env", {"targets": { "node": "current" }}]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": false }],
        ["@babel/plugin-transform-spread", { "useBuiltIns": true }],
        ["@babel/plugin-proposal-class-properties"]
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {"targets": { "node": "current" }}]
      ],
      "plugins": [
        ["@babel/plugin-transform-runtime", { "useESModules": false }],
        ["@babel/plugin-transform-spread", { "useBuiltIns": true }],
        ["@babel/plugin-proposal-class-properties"]
      ]
    }
  }
}